body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.title {
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
    color: #333; 
}

  .dashboard-container {
    text-align: center;
    padding: 20px;
  }
  
  .dashboard-header {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555; 
  }
  
  .user-list {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .user-item {
    list-style-type: none;
    margin-bottom: 25px;
  }
  
  .user-link {
    text-decoration: none;
    color: #007bff; 
}

  .user-link:hover {
    text-decoration: underline;
    color: #0056b3; 
}


.todos-container {
    text-align: center;
    padding: 20px;
  }
  
  .todos-header {
    margin-bottom: 25px;
    color: #555; 
  }
  
  .todo-list {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .todo-item {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
 
  .completed {
    text-decoration: line-through;
    color: #999; 
  }

  .footer {
    text-align: center;
  }
  .goBack {
    margin: 0 auto;
    text-decoration: none;
    color: #007bff; 
}

  .goBack:hover {
    text-decoration: underline;
    color: #0056b3; 
}

